.container {
  width: 80%;
  margin: 0 auto;
  container-type: inline-size;
}

.box {
  width: 100%;
  height: 400px;
  background-color: lightcoral;
  transition: background-color 0.3s ease;
}

@container (min-width: 500px) {
  .box {
    background-color: lightblue;
  }
}

@container (min-width: 800px) {
  .box {
    background-color: lightgreen;
  }
}
